Flask==0.10.1
Flask-OAuthlib==0.4.3
Flask-SQLAlchemy==1.0
Jinja2==2.7.2
MarkupSafe==0.19
SQLAlchemy==0.9.4
Werkzeug==0.9.4
dropbox==2.0.0
gunicorn==18.0
httplib2==0.8
itsdangerous==0.24
oauthlib==0.6.1
psycopg2==2.5.2
redis==2.9.1
urllib3==1.8
wsgiref==0.1.2
