.ember-application {
    margin: 20px;
}

.chord {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}

.lyric {
    font-size: 1.2em;
}

.cnl {
    display: table-cell;
    float: left;
}

.cnl_line {
    display: table-row;
}

.song-desc {
    padding-left: 0;
}

.metalabel, .metadata {
    display: table-cell;
    padding: 5px;
}

.metalabel {
    width: 100px;
    color: #666;
    font-weight: bold;
}

.footer {
    font-size: x-small;
}

.body-dark {
    background: black;
    color: white;
}

.body-dark .jumbotron {
    background: #333;
}

.actions {
    width: 10%;
}

.highlight {
    background-color: #F2F5A9;
    width: 50%;
    display: inline;
}

@media all and (max-width: 699px) {
    .metalabel {
        width: 10%;
    }
}

.sortable li {
    list-style: none;
    border: 1px solid #ccc;
    background: #f6f6f6;
    color: #1C94C4;
    margin: 5px;
    padding: 5px;
    height: 35px;
    vertical-align: center;
}

.center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

tr.selected td {
    background-color: #39b3d7 !important;
}

#metro_tempo {
    text-align: center;
    font-size: 2em;
}

a.tag span.label {
    text-decoration: none;
}

a.tag:hover span.label {
    background-color: #39b3d7;
}

tr.grid-row a {
    display: block;
}

div.container[role=main] {
    margin-top: 20px;
}