.chord {
    font-weight: bold;
    color: red;
    font-size: 1.2em;
}

.lyric {
    font-size: 1.2em;
}

.cnl {
    display: table-cell;
    float: left;
}

.cnl_line {
    display: table-row;
}

.song-desc {
    padding-left: 0;
}

.metalabel, .metadata {
    display: table-cell;
    padding: 5px;
}

.metalabel {
    width: 80px;
    color: #666;
    font-weight: bold;
}

.footer {
    font-size: x-small;
}

.body-dark {
    background: black;
    color: white;
}

.body-dark .jumbotron {
    background: #333;
}

.actions {
    width: 10%;
}

.highlight {
    background-color: #F2F5A9;
    width: 50%;
    display: inline;
}