{% extends "base.html" %}
{% block body %}
<h3>Users <span title="Add Person"><a href="#" class="btn btn-info" onclick="userAddToggle(event)"><span class="glyphicon glyphicon-plus"></span></a></span></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th></th><th>Firstname</th><th>Lastname</th><th>Email</th><th>Role</th><th>Last Active</th>
        </tr>
    </thead>
    <tbody>
        <tr id="usrnew" class="hidden">
            <td><button id="usrnewsave" class="btn btn-primary" title="Save" onclick="userAdd(event)"><span class="glyphicon glyphicon-save"></span></button> <a href="#"  onclick="userAddToggle(event)">Cancel</a></td>
            <td><input id="usrnewfirst" name="firstname" placeholder="firstname" type="text" class="form-control" /></td>
            <td><input id="usrnewlast" name="lastname" placeholder="lastname" type="text" class="form-control" /></td>
            <td><input id="usrnewemail" name="email" placeholder="email" type="email" class="form-control" /></td>
            <td>
                <select  id="usrnewrole" class="form-control" name="role">
                    <option value="admin">admin</option>
                    <option value="standard" selected>standard</option>
                </select>
            </td>
        </tr>
        {% for u in users %}
        <tr id="usr{{ u.id }}">
            <td class="actions">
                <button class="btn btn-default" title="Edit" onclick="userEdit({{ u.id }})"><span class="glyphicon glyphicon-edit"></span></button>
                <button class="btn btn-default" title="Delete"><span class="glyphicon glyphicon-remove"></span></button>
            </td>
            <td>{{ u.firstname }}</td><td>{{ u.lastname }}</td><td>{{ u.email }}</td>
            <td>{{ u.role }}</td>
            <td>{{ u.last_login }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-admin').addClass('active');
    });
</script>
{% endblock %}


{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h2 class="sub-header">Site Admin</h2>

          <div class="btn-group">
            <div type="button" class="btn btn-info">Users</div>
          </div>
      </div>
    </div>
{% endblock %}
