{% extends "base.html" %}
{% block body %}

<h2 class="sub-header">Songs</h2>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for index, song in songs %}
    <tr class="collapse-group">
        <td><button class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{ index }}">{{ song }} ({{ files[song]|length }}) &raquo;</button>
            <div id="viewdetails{{ index }}" class="collapse"><br />
            {% for f in files[song]%}
            <p>
                <a href="{{ f.url }}?dl=1" title="Download">{{ f.name }} ({{ f.size }})</a>
                <button class="btn btn-default" title="View">
                    {% if f.extension in ['onsong','pro','chordpro','chdpro','chopro'] %}
                    <a href="/song?file_path={{ f.path }}"><span class="glyphicon glyphicon-music"></span></a>
                    {% else %}
                    <a href="{{ f.url }}">
                        {% if 'audio' in f.mime_type or 'video' in f.mime_type %}
                        <span class="glyphicon glyphicon-play"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {% endif %}
                    </a>
                    {% endif %}
                </button>
            </p>
            {% endfor %}
            </div>
        </td>
    </tr>
    {%  endfor %}
  </tbody>
</table>

<ul class="pagination">
{% for index in range(1, pages + 1) %}
    {% if page==index %}
        <li class="active"><a href="/songs?page={{ index }}">{{ index }} <span class="sr-only">(current)</span></a></li>
    {% else %}
    <li><a href="/songs?page={{ index }}">{{ index }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h1>Lifechurch Worship Team</h1>
        <p>Resource page for the Worship Team.</p>
      </div>
    </div>
{% endblock %}
