{% extends "base.html" %}
{% block body %}

<h2 class="sub-header">Songs</h2>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for song in folders.items %}
    <tr class="collapse-group">
        <td><button class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{ song.id }}">{{ song.name }} <span class="badge">{{ song.files|length }}</span> &raquo;</button>
            <a id="songedit{{ song.id }}" href="#" onclick="songEdit(event, {{ song.id }})" style="float:right;"><span class="glyphicon glyphicon-edit"></span></a>
            <span id="youtube{{ song.id }}"></span>
            {% if song.url %}
            <a href="{{ song.url }}" title="Youtube"><img src="/static/images/YouTube-social-icon_red_24px.png" /></a>
            {% endif %}
            {% if song.tempo and song.tempo > 0  %}
            <span title="Tempo">{{ song.tempo }} bpm <!--button id="metroStart{{ song.id }}" class="btn btn-success" onclick="metroStart({{ song.tempo or 0 }}, {{ song.id }})">Start</button>&nbsp;<button id="metroStop{{ song.id }}" class="btn btn-danger" onclick="metroStop({{ song.id }})">Stop</button--></span>
            {% endif %}
            {% if song.time_signature  %}
            <span title="Time Signature">&nbsp;{{ song.time_signature }}</span>
            {% endif %}
            <div id="viewdetails{{ song.id }}" class="collapse"><br />
            {% for f in song.files %}
            <p>
                <a href="{{ f.url }}?dl=1" title="Download">{{ f.name }} ({{ f.size }})</a>
                <button class="btn btn-default" title="View">
                    {% if f.extension in ['onsong','pro','chordpro','chdpro','chopro'] %}
                    <a href="/song?file_path={{ f.path }}"><span class="glyphicon glyphicon-music"></span></a>
                    {% else %}
                    <a href="{{ f.url }}">
                        {% if 'audio' in f.mime_type or 'video' in f.mime_type %}
                        <span class="glyphicon glyphicon-play"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {% endif %}
                    </a>
                    {% endif %}
                </button>
                {% if f.extension in ['onsong'] %}
                <button class="btn btn-default" title="Onsong Download">
                    <a href="{{ f.url.replace('https', 'onsong') }}?dl=1"><span class="glyphicon glyphicon-phone"></span></a>
                </button>
                {% endif %}
            </p>
            {% endfor %}
            </div>
        </td>
    </tr>
    {%  endfor %}
  </tbody>
</table>
<div hidden="hidden">
        <audio id="beepOne" src="/static/js/beepone.wav" preload="auto" controls="controls">Get a better standards compliant browser!</audio>
        <audio id="beep" src="/static/js/beep.wav" preload="auto" controls="controls">Get a better standards compliant browser!</audio>
</div>

<ul class="pagination">
{% for index in range(1, pages + 1) %}
    {% if page==index %}
        <li class="active"><a href="/songs?page={{ index }}">{{ index }} <span class="sr-only">(current)</span></a></li>
    {% else %}
    <li><a href="/songs?page={{ index }}">{{ index }}</a></li>
    {% endif %}
{% endfor %}
</ul>

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
      <!--
        <h1>Lifechurch Worship Team</h1>
        <p>Resource page for the Worship Team.</p>
        <form class="navbar-form navbar-left" role="search" action="/songs/search" method="get">
          <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="search for songs" value="{{ q }}" />
          </div>
          <button type="submit" class="btn btn-info">Find</button>
        </form>
              -->
      </div>

    </div>
{% endblock %}
