{% extends "base.html" %}
{% block body %}

<h2 class="sub-header">Songs</h2>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for index, song in songs %}
    <tr class="collapse-group">
        <td><button class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{ index }}">{{ song }} &raquo;</button>
            <div id="viewdetails{{ index }}" class="collapse"><br />
            {% for f in files[song]%}
            <p>
                <a href="https://docs.google.com/uc?id={{ f.id }}&export=download" title="Download">{{ f.filename }}</a>
                <a href="{{ f.url }}"><span class="glyphicon glyphicon-eye-open" title="View"></span></a>
            </p>
            {% endfor %}
            </div>
        </td>
    </tr>
    {%  endfor %}
  </tbody>
</table>

{% endblock %}
