{% extends "base.html" %}
{% block body %}

{% if q %}
    {% if files.keys()|length == 0 %}
    <p>No songs found.</p>
    {% else %}

<h3 class="sub-header">Found Songs...</h3>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for index, song in songs %}
    <tr class="collapse-group">
        <td><button class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{ index }}">{{ song }} ({{ files[song]|length }}) &raquo;</button>
            <div id="viewdetails{{ index }}" class="collapse"><br />
            {% for f in files[song]%}
            <p>
                <a href="{{ f.url }}?dl=1" title="Download">{{ f.name }} ({{ f.size }})</a>
                <button class="btn btn-default" title="View">
                    {% if f.extension in ['onsong','pro','chordpro','chdpro','chopro'] %}
                    <a href="/song?file_path={{ f.path }}"><span class="glyphicon glyphicon-music"></span></a>
                    {% else %}
                    <a href="{{ f.url }}">
                        {% if 'audio' in f.mime_type or 'video' in f.mime_type %}
                        <span class="glyphicon glyphicon-play"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {% endif %}
                    </a>
                    {% endif %}
                </button>
            </p>
            {% endfor %}
            </div>
        </td>
    </tr>
    {%  endfor %}
  </tbody>
</table>
    {% endif %}
{% endif %}

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h2>Find Song</h2>

        <form class="navbar-form navbar-left" role="search" action="/songs/search" method="get">
          <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="search for songs" value="{{ q }}" />
          </div>
          <button type="submit" class="btn btn-info">Find</button>
        </form>
      </div>
    </div>
{% endblock %}
