{% extends "base.html" %}
{% block body %}

{% if q %}
    {% if files and files.count() == 0 %}
    <p>No songs found.</p>
    {% else %}

<h3 class="sub-header">Found Songs...</h3>
<table class="table table-striped">
  <thead>
    <tr>
        <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {% for song in files %}
    <tr class="collapse-group">
        <td>
            <div>
                <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                    <button class="btn btn-default" data-toggle="collapse" data-target="#viewdetails{{ song.id }}">&raquo;</button> {{ song.highlight(q)|safe }} <span class="badge">{{ song.files|length }}</span>
                </div>
                <div class="col-xs-1 col-xs-1 col-sm-1 col-md-1">
                    {% if song.tempo and song.tempo > 0  %}
                    <span title="Tempo">{{ song.tempo }} bpm</span>
                    {% endif %}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2">
                    {% if song.time_signature  %}
                    <span title="Time Signature">&nbsp;{{ song.time_signature }}</span>
                    {% endif %}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <span id="youtube{{ song.id }}"></span>
                    {% if song.url %}
                    <a class="btn" href="{{ song.url }}" title="YouTube">YouTube</a>
                    {% endif %}
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button class="btn" onclick="songTags(event, {{ song.id }})" title="{{ song.tags|length }} tags">Tags <span class="glyphicon glyphicon-tags badge">{{ song.tags|length }}</span></button>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <button class="btn" id="songedit{{ song.id }}" href="#" onclick="songEdit(event, {{ song.id }})" >Edit <span class="glyphicon glyphicon-edit"></span></button>
                </div>
                <div id="songedit_wrap{{ song.id }}"></div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div id="viewdetails{{ song.id }}" class="collapse"><br />
                    {% for f in song.files %}
                    <p class="text-left">
                        <a href="{{ f.url }}?dl=1" title="Download">{{ f.highlight(q)|safe }} ({{ f.size }})</a>
                        <button class="btn btn-default" title="View">
                            {% if f.extension in ['onsong','pro','chordpro','chdpro','chopro'] %}
                            <a href="/song?file_path={{ f.path }}"><span class="glyphicon glyphicon-music"> Chart</span></a>
                            {% else %}
                            <a href="{{ f.url }}">
                                {% if 'audio' in f.mime_type or 'video' in f.mime_type %}
                                <span class="glyphicon glyphicon-play"></span>
                                {% else %}
                                <span class="glyphicon glyphicon-eye-open"></span>
                                {% endif %}
                            </a>
                            {% endif %}
                        </button>
                    </p>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </td>
    </tr>
    {%  endfor %}
  </tbody>
</table>
    {% endif %}
{% endif %}

{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h2>Find Song</h2>

        <form class="navbar-form navbar-left" role="search" action="/songs/search" method="get">
          <div class="form-group">
            <input name="q" type="text" class="form-control" placeholder="search for songs" value="{{ q or '' }}" />
          </div>
          <button type="submit" class="btn btn-primary">Find</button>
          <a href="/songs" class="btn btn-default">Clear</a>
        </form>
      </div>
    </div>

{% endblock %}
