{% block body %}
<div id="r-message"></div>

<table class="table">
    <tr>
        <th>Not Assigned</th><th>&nbsp;</th><th>Assigned to Song</th>
    </tr>
    <tr>
        <td>
            <input type="text" id="select-folder_id" name="folder_id" hidden value="{{ folder_id }}">
            <ul id="unselected" class="list-group">
                {% for u in unselected %}
                <li id="tag{{ u.id }}" class="list-group-item" onclick="selectTagListItem(event, this)">{{ u.name }}</li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <center>
                <button class="btn btn-success" onclick="songTagSelect(event)">&raquo;</button>
                <br />
                <button class="btn btn-danger" onclick="songTagDeselect(event)">&laquo;</button>
            </center>
        </td>
        <td>
            <ul id="selected" class="list-group">
                {% for u in selected %}
                <li id="tag{{ u.id }}" class="list-group-item" onclick="selectTagListItem(event, this)">{{ u.name }}</li>
                {% endfor %}
            </ul>
            <input type="text" id="new_tag" name="new_tag" value="" placeholder="create a new tag" />&nbsp;<button class="btn btn-info" onclick="songTagNew(event)"><span class="glyphicon glyphicon-plus"></span></button>
        </td>
    </tr>
</table>

{% endblock %}
