{% block body %}
<span id="songsave{{ song.id }}" style="text-align: right">
    <br />
    <input id="url{{ song.id }}" type="text" value="{{ song.url if song.url or '' }}" class="form-control highlight" placeholder="Youtube URL" />
    <input id="tempo{{ song.id }}" type="text" value="{{ song.tempo if song.tempo or '' }}" class="form-control highlight" placeholder="Tempo (BPM)" />
    <select  id="time{{ song.id }}" class="form-control highlight" name="time_signature">
        <option value="4/4" {{ 'selected' if song.time_signature == '4/4' else '' }}>4/4</option>
        <option value="3/4" {{ 'selected' if song.time_signature == '3/4' else '' }}>3/4</option>
        <option value="6/8" {{ 'selected' if song.time_signature == '6/8' else '' }}>6/8</option>
    </select>
    <button class="btn btn-info" onclick="songSave({{ song.id }})">Save</button>
    <a href="#" onclick="songCancel(event, {{ song.id }})">Cancel</a>
    <br />
</span>
{% endblock %}
