{% block body %}
<tr id="usredit{{ user.id }}">
    <td><button id="usrsave{{ user.id }}" onclick="userSave({{ user.id }})" class="btn btn-info" title="Save">Save</button> <a href="#" onclick="userCancel(event, {{ user.id }})">Cancel</a></td>
    <td><input id="usrfirst" name="firstname" value="{{ user.firstname }}" type="text" class="form-control" /></td>
    <td><input id="usrlast" name="lastname" value="{{ user.lastname }}" type="text" class="form-control" /></td>
    <td><input id="usremail" name="email" value="{{ user.email }}" type="email" class="form-control" /></td>
    <td>
        <select  id="usrrole" class="form-control" name="role">
            <option value="admin" {{ 'selected' if user.role == 'admin' else '' }}>admin</option>
            <option value="standard" {{ 'selected' if user.role == 'standard' else '' }}>standard</option>
        </select>
    </td>
</tr>
{% endblock %}