{% extends "base.html" %}
{% block body %}
<h3>Songs <span title="Add Song">
            <a href="#" class="btn btn-info" onclick="songlistSongAdd(event)"><span class="glyphicon glyphicon-plus"></span></a>
          </span>
          <span title="Reorder Songs">
            <a href="#" class="btn btn-info" onclick="songlistReorder(event, {{ songlist.id }})"><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
          </span>
</h3>
<input type="hidden" id="songlist" name="songlist" value="{{ songlist.id }}" />
<table class="table table-striped">
    <thead>
        <th></th><th>Name</th><th>Tempo</th><th>Youtube</th>
    </thead>
    <tbody>
    {% for s in songlinks %}
    <tr id="song{{ s.folder.id }}">
        <td class="actions">
            <button class="btn btn-default" title="Remove" onclick="songlistSongRemove({{ s.songlist.id }}, {{ s.folder.id }})"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td>{{ s.folder.name }}</td>
        <td>{{ s.folder.tempo or ''}}</td>
        <td>
            {% if s.folder.url %}
            <a href="{{ s.url }}" title="Youtube"><img src="/static/images/YouTube-social-icon_red_24px.png" /></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script>
    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-songlist').addClass('active');
    });

</script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
        <h2 class="sub-header">{{ songlist.name }} for {{ songlist.event_date.strftime(config.DATE_FORMAT) }}</h2>
          <span>Owner: {{ songlist.person.full_name() }}</span><br /><br />
      </div>
    </div>
{% endblock %}
