{% extends "base.html" %}
{% block body %}
<h3>Songs <span title="Add Song">
            <a href="#" class="btn btn-info" onclick="songlistSongAdd(event)"><span class="glyphicon glyphicon-plus"></span></a>
          </span>
          <span title="Reorder Songs">
            <a href="#" class="btn btn-info" onclick="songlistReorder(event, {{ songlist.id }})"><span class="glyphicon glyphicon-sort-by-attributes"></span></a>
          </span>
</h3>
<input type="hidden" id="songlist" name="songlist" value="{{ songlist.id }}" />
<table class="table table-striped">
    <thead>
        <th></th><th>Name</th><th>Tempo</th><th>Time Signature</th><th>Youtube</th>
    </thead>
    <tbody>
    {% for s in songlinks %}
    <tr id="song{{ s.folder.id }}" class="song_list">
        <td class="actions">
            <button class="btn btn-default" title="Remove" onclick="songlistSongRemove({{ s.songlist.id }}, {{ s.folder.id }})"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td>{{ s.folder.name }}</td>
        <td>{{ s.folder.tempo or ''}}</td>
        <td>{{ s.folder.time_signature or ''}}</td>
        <td>
            {% if s.folder.url %}
            <a href="{{ s.url }}" title="Youtube"><img src="/static/images/YouTube-social-icon_red_24px.png" /></a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div hidden="hidden">
        <audio id="beepOne" src="/static/js/beepone.wav" preload="auto" controls="controls">Get a better standards compliant browser!</audio>
        <audio id="beep" src="/static/js/beep.wav" preload="auto" controls="controls">Get a better standards compliant browser!</audio>
</div>

<div id="metronome" class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" id="metro_title">Metronome</h3><span id="metro_time"></span>
  </div>
  <div class="panel-body">
    <div class="center">
        <button onclick="metroMinus()" class="btn btn-info"><span class="badge"><span class="glyphicon glyphicon-arrow-down"></span></span>&nbsp;<span class="glyphicon glyphicon-minus"></span></button>
                    <input id="metro_index" type="hidden" />
                    <input id="metro_tempo" type="number" placeholder="tempo" />
                <button onclick="metroPlus()" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>&nbsp;<span class="badge"><span class="glyphicon glyphicon-arrow-up"></span></span></button>
    </div>
    <br />
    <div>
        <center><button id="metro_start_stop" class="btn btn-success btn-lg" onclick="toggleMetronome()">&nbsp;Start&nbsp;</button></center>
    </div>
    <div>
        <span class="left"><button class="btn btn-info" onclick="metroPreviousSong()"><span class="badge"><span class="glyphicon glyphicon-arrow-left"></span></span>&nbsp; Song</button></span>
        <span class="right"><button class="btn btn-info" onclick="metroNextSong()">Next Song&nbsp;<span class="badge"><span class="glyphicon glyphicon-arrow-right"></span></span></button></span>
    </div>

  </div>

</div>


<script>
    var songs = {{ songs|tojson }};

    $( document ).ready(function() {
        // Set the current page
        $('ul.navbar-nav li').removeClass('active');
        $('#nav-songlist').addClass('active');

        songlistMetronome(0);
        $(window).keydown(function(e) {
            onKeyPress(e);
        });

        $('.song_list').click(function() {
            var rowIndex  = $(this).closest('tr')[0].rowIndex
            songlistMetronome(rowIndex-1);
        });

        // Initialise the audio engine
        initializeAudio();
    });

</script>
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
      <div class="container">
            <h2 class="sub-header">{{ songlist.name }} for {{ songlist.event_date.strftime(config.DATE_FORMAT) }}</h2>
            <span>Owner: {{ songlist.person.full_name() }}</span><br /><br />

      </div>
    </div>
{% endblock %}
